*.[oa]
*.lo
*.la
*.gcda
*.gcno
*.gcov
Makefile.in
Makefile
.deps
.libs
*.sw[po]
*.pc
*.tar.*
*.orig
*.rej
*.bak
*~
*.stamp
*.pyc
*.pyo
*.loT
*.gir
*.typelib
.semanticache
_gen
Android.mk
FIXME.out
INSTALL
aclocal.m4
autom4te.cache
/build-aux
/ChangeLog
config.guess
config.h
config.h.in
/config.h.in~
config.log
config.status
config.sub
configure
cscope.out
depcomp
/data/*.client
/data/*.service
/data/org.freedesktop.Telepathy.Logger.gschema.valid
/data/org.freedesktop.Telepathy.Logger.gschema.xml

/docs/reference/libtelepathy-logger/*.stamp
/docs/reference/libtelepathy-logger/*.bak
/docs/reference/libtelepathy-logger/html/
/docs/reference/libtelepathy-logger/telepathy-logger-*.bak
/docs/reference/libtelepathy-logger/telepathy-logger-*.txt
/docs/reference/libtelepathy-logger/telepathy-logger-1.args
/docs/reference/libtelepathy-logger/telepathy-logger-1.hierarchy
/docs/reference/libtelepathy-logger/telepathy-logger-1.interfaces
/docs/reference/libtelepathy-logger/telepathy-logger-1.prerequisites
/docs/reference/libtelepathy-logger/telepathy-logger-1.signals
/docs/reference/libtelepathy-logger/telepathy-logger-1.types
/docs/reference/libtelepathy-logger/tmpl/
/docs/reference/libtelepathy-logger/xml/
/docs/reference/telepathy-glib/*-decl.txt
/docs/reference/telepathy-glib/*-decl-list.txt
/docs/reference/telepathy-glib/*-undeclared.txt
/docs/reference/telepathy-glib/*-undocumented.txt
/docs/reference/telepathy-glib/*-unused.txt
/docs/reference/telepathy-glib/*.args
/docs/reference/telepathy-glib/*.hierarchy
/docs/reference/telepathy-glib/*.interfaces
/docs/reference/telepathy-glib/*.prerequisites
/docs/reference/telepathy-glib/*.signals
/docs/reference/telepathy-glib/*.stamp
/docs/reference/telepathy-glib/*.types
/docs/reference/telepathy-glib/version.xml
/docs/reference/telepathy-glib/html
/docs/reference/telepathy-glib/tmpl/*.sgml
/docs/reference/telepathy-glib/xml
/docs/reference/telepathy-farstream/*.bak
/docs/reference/telepathy-farstream/html/
/docs/reference/telepathy-farstream/telepathy-farstream-1.args
/docs/reference/telepathy-farstream/telepathy-farstream-1-decl-list.txt
/docs/reference/telepathy-farstream/telepathy-farstream-1-decl.txt
/docs/reference/telepathy-farstream/telepathy-farstream-1.hierarchy
/docs/reference/telepathy-farstream/telepathy-farstream-1.interfaces
/docs/reference/telepathy-farstream/telepathy-farstream-1-overrides.txt
/docs/reference/telepathy-farstream/telepathy-farstream-1.prerequisites
/docs/reference/telepathy-farstream/telepathy-farstream-1.signals
/docs/reference/telepathy-farstream/telepathy-farstream-1-undeclared.txt
/docs/reference/telepathy-farstream/telepathy-farstream-1-undocumented.txt
/docs/reference/telepathy-farstream/telepathy-farstream-1-unused.txt
/docs/reference/telepathy-farstream/tmpl/
/docs/reference/telepathy-farstream/xml/

examples/client/telepathy-example-*
examples/cm/*/telepathy-example-*
examples/extensions/extensions.html
/examples/future/*/telepathy-example-*
examples/client/dbus-tubes/accepter
examples/client/dbus-tubes/offerer
examples/client/stream-tubes/accepter
examples/client/stream-tubes/offerer
/extensions/extensions.html
gtk-doc.make
/INSTALL
install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
lcov.info
lcov.info.tmp
lcov.html
libtool
ltmain.sh
m4/gtk-doc.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/release-mail
stamp-h1
/TAGS
tags

/telepathy-farstream/examples/call-handler
/telepathy-farstream/telepathy-farstream-1.pc
/telepathy-farstream/telepathy-farstream-uninstalled-1.pc

/telepathy-glib-0.*
/telepathy-glib/tmp-introspect*/
telepathy-glib/version.h

/telepathy-logger/telepathy-logger
/telepathy-logger/test-api
/telepathy-logger/telepathy-logger-1-uninstalled.pc
/telepathy-logger/telepathy-logger-1.pc
/telepathy-logger/TelepathyLogger-1.typelib
/telepathy-logger/TelepathyLogger-1.gir
/telepathy-logger/_gen/
/telepathy-logger/tpl-marshal.[ch]

/po/@GETTEXT_PACKAGE@.pot

/test-driver
/tests/all-errors-documented.py.log
/tests/all-errors-documented.py.trs
/tests/**/tmp-cache
/tests/**/tmp-config
/tests/**/tmp-data
/tests/**/tmp-runtime
tests/dbus/dbus-installed/session.conf
tests/dbus/dbus-uninstalled/session.conf
tests/dbus/run-test.sh
tests/dbus/test-*
tests/dbus/tpglib-dbus-tests.list
/tests/logger/test-*[^ch]
/tests/logger/dbus/test-*[^ch]
/tests/logger/dbus/dbus-1/session.conf
tests/test-*
/tests/tools/actual.h
/tests/tools/actual-body.h
/tests/tools/actual-gtk-doc.h
/tests/tools/*.log
/tests/tools/*.trs
tests/tpglib-tests.list
tools/telepathy-glib-env
/vala/telepathy-glib-generated.gi
/vala/telepathy-glib.files
/vala/telepathy-glib.gi
/vala/telepathy-glib-1.vapi
/valgrind.log
capture-*.log
.\#*
\#*\#
