# General rules
*.la
*.lo
*.o
*.pyc
*.pyo
*.swp
*~
.deps
.libs
Makefile
Makefile.in
tags

# Autotools and other top-level cruft
/ChangeLog
/INSTALL
/TAGS
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/shave
/shave-libtool
/stamp-h1
/telepathy-logger-*.tar.bz2
/telepathy-logger-*.tar.bz2.asc
/telepathy-logger-*/
/xmldocs.make

/data/*.client
/data/*.service
/data/org.freedesktop.Telepathy.Logger.gschema.valid
/data/org.freedesktop.Telepathy.Logger.gschema.xml

/doc/reference/libtelepathy-logger/*.stamp
/doc/reference/libtelepathy-logger/*.bak
/doc/reference/libtelepathy-logger/html/
/doc/reference/libtelepathy-logger/telepathy-logger-*.bak
/doc/reference/libtelepathy-logger/telepathy-logger-*.txt
/doc/reference/libtelepathy-logger/telepathy-logger.args
/doc/reference/libtelepathy-logger/telepathy-logger.hierarchy
/doc/reference/libtelepathy-logger/telepathy-logger.interfaces
/doc/reference/libtelepathy-logger/telepathy-logger.prerequisites
/doc/reference/libtelepathy-logger/telepathy-logger.signals
/doc/reference/libtelepathy-logger/telepathy-logger.types
/doc/reference/libtelepathy-logger/tmpl/
/doc/reference/libtelepathy-logger/xml/

/extensions/tpl-extensions.pc
/extensions/_gen/
/extensions/doc/

/src/telepathy-logger
/src/test-api

/telepathy-logger/telepathy-logger-0.2-uninstalled.pc
/telepathy-logger/telepathy-logger-0.2.pc
/telepathy-logger/TelepathyLogger-0.2.typelib
/telepathy-logger/TelepathyLogger-0.2.gir
/telepathy-logger/_gen/*
/telepathy-logger/tpl-marshal.c
/telepathy-logger/tpl-marshal.h

/tests/test-*[^ch]

/tests/dbus/test-*[^ch]
/tests/dbus/dbus-1/session.conf
/tests/dbus/capture-*.log

/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
