test-call-cancellation
test-channel-introspect
test-connection
test-connection-getinterfaces-failure
test-connection-inject-bug16307
test-dbus
test-disconnection
test-example-no-protocols
test-finalized-in-invalidated-handler
test-handle-set
test-invalidated-while-invoking-signals
test-properties
test-unsupported-interface

